.box {
    position: relative;

    &--left {
        padding: 3.5rem 4.3rem;
        text-align: center;
        margin-right: 3.65rem;
    }

    &--right {
        padding: 3.5rem 4.3rem;
    }

}

.center {
    text-align: center;
}

.quality {
    display: block;
    font-size: 2.7rem;
    font-weight: 600;
}

.date {
    display: block;
    font-weight: 400;
}


@media (max-width: 1000px) {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        padding: 4rem 10%;

        &--left {
            margin: 0 0 3.5rem 0;
        }
    }

}

@media (max-width: 600px) {

    .box {
        padding: 3rem 10%;

        &--left {
            margin: 0 0 2rem 0;
        }
    }

}