.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &__input {
        height: 4rem;
        width: 32rem;
        max-width: 100%;
        border: 0.4rem solid var(--color-bg);
        border-radius: 0.8rem;
        padding: 0 1.5rem;
        color: var(--color-font);
        font-size: 1.2rem;
        font-family: var(--font-family);
        font-weight: 300;

        &::placeholder {
            color: inherit;
            font-size: inherit;
        }
    }

    &__input-label {
        max-width: 100%;
        position: relative;
        margin-top: 2rem;

        &::after {
            border-radius: 0.8rem;
            border: 0.4rem solid var(--color-blur-dark);
        }

        &::before {
            border-radius: 0.8rem;
            border: 0.4rem solid var(--color-blur-light);
        }
    }

    &__return {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    &__checkbox-label {
        position: relative;
        display: flex;
        margin-top: 1.5rem;
        width: 80%;
        cursor: pointer;
    }

    &__checkbox-shadow{
        width: 2.2rem;
        height: 2.2rem;
        min-width: 2.2rem;
        min-height: 2.2rem;
        margin-right: 1rem;

        &::after {
            border-radius: 0.6rem;
            border: 0.3rem solid var(--color-blur-dark);
        }

        &::before {
            border-radius: 0.6rem;
            border: 0.3rem solid var(--color-blur-light);
        }
    }

    &__checkbox {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        appearance: none;
        border: 0.3rem solid var(--color-bg);
        border-radius: 0.6rem;
        will-change: background-color;
        transition: background-color 0.3s;
        z-index: 0;
        cursor: pointer;

        &:checked {
            background: url(../images/check.svg) no-repeat center;
            background-size: 1.2rem;
        }
    }

    &__submit {
        position: relative;
        display: flex;
        background: var(--color-good);
        color: var(--color-bg);
        padding: 0.8rem 3rem;
        font-size: 1.2rem;
        border-radius: 2.1rem;
        font-weight: 600;

        &-shadow {
            z-index: 0;

            &::after {
                border-radius: 2.1rem;
            }


            &::before {
                border-radius: 2.1rem;

            }
        }

        &-wrapper{
            position: relative;
            margin-top: 2rem;
        }

    }

    &__loader{
        position: absolute;
        right: -5.5rem;
        top: 50%;
        transform: translateY(-50%);
        will-change: opacity;
        transition: 0.3s opacity;
        opacity: 0;

        & .loader__cloud-1{
            animation-play-state: paused;
        }

        & .loader__cloud-2{
            animation-play-state: paused;
        }

        &.active{
            opacity: 1;

            & .loader__cloud-1{
                animation-play-state: running;
            }

            & .loader__cloud-2{
                animation-play-state: running;
            }
        }
    }


    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }

    &__tooltip {
        position: absolute;
        color: white;
        background: var(--color-bad);
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        transform: translate(-50%, -120%);
        top: -3px;
        left: 50%;
        white-space: nowrap;
        z-index: 10;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: -9px;
            left: 50%;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid var(--color-bad);
            transform: translate(-50%);
        }
    }

}


@media (max-width: 1000px) {
    .form {
        &__input {
            font-size: 16px;
        }

        &__placeholder {
            font-size: 16px;
        }
    }
}

@media (max-width: 600px) {
    .form {
        &__checkbox-label {
            width: 100%;
        }

        &__return {
            font-size: 1.2rem;
        }
    }
}