.loader {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    &--margin {
        margin-top: 0;
    }

    &__cloud-1 {
        width: 8rem;
        height: auto;
        animation: cloud-1 2s infinite both;

        &.small {
            width: 2.5rem;
        }
    }

    &__cloud-2 {
        left: 10rem;
        width: 5.5rem;
        height: auto;
        animation: cloud-2 1.5s infinite both;

        &.small {
            width: 2rem;
        }
    }


    @keyframes cloud-1 {
        0% {
            transform: translate(20%);
        }

        50% {
            transform: translate(5%);
        }

        100% {
            transform: translate(20%);
        }
    }


    @keyframes cloud-2 {
        0% {
            transform: translate(-20%);
        }

        50% {
            transform: translate(-40%);
        }

        100% {
            transform: translate(-20%);
        }
    }

}