.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--color-popup);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: 0.3s opacity;


    &.active {
        z-index: 100;
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: relative;
        background: var(--color-bg);
        padding: 3rem;
        border-radius: 2.45rem;
        width: 50%;
        max-width: 1000px;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 1.5rem;
    }


    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background: var(--color-bg);
        z-index: 10;

        &:hover {
            .popup__close-icon {
                transform: translate(-1px, -1px);
            }
        }
    }

    &__close-icon {
        height: 1rem;
        width: 1rem;
        fill: var(--color-font);
    }

    &__close-shadow {
        position: absolute;
        z-index: 0;
        top: 1.5rem;
        right: 1.5rem;
    }

    &__station {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .popup {
        &__content {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .popup {
        &__content {
            width: 90%;
            padding: 2rem;
        }

        &__title {
            font-size: 1.6rem;
        }

        &__close {
            height: 2.5rem;
            width: 2.5rem;
        }

        &__close-shadow {
            top: 1rem;
            right: 1rem;
        }
    }
}


@media (max-width: 330px) {
    .popup {
        &__title {
            font-size: 1.3rem;
        }
    }
}