.search {
    position: relative;
    background: var(--color-bg);
    border-radius: 3.8rem;
    height: 4.35rem;
    width: 38.28rem;
    margin-right: 3.65rem;

    &__select {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border-radius: 3.8rem;
        height: 100%;
        width: 100%;
        padding: 0 4.5rem 0 2.85rem;
        outline: none;
        appearance: none;
        border: none;
        color: var(--color-font);
        z-index: 10;
        cursor: pointer;
        font-family: var(--font-family);
        font-weight: 300;

        option {
            background: var(--color-bg);
            line-height: 1.3rem;
            outline: var(--color-bg);
        }
    }

    &::after {
        border-radius: 3.8rem;
    }


    &::before {
        border-radius: 3.8rem;
    }


    @mixin btn {
        position: absolute;
        height: 3rem;
        width: 3rem;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &__btn-1 {
        @include btn();
        top: 50%;
        right: 1rem;
        background: var(--color-bg);
        z-index: 3;
    }

    &__btn-2 {
        @include btn();
        top: calc(50% + 3px);
        right: calc(1rem - 3px);
        background: var(--color-blur-dark);
        z-index: 2;
        filter: blur(4px);
    }

    &__btn-3 {
        @include btn();
        top: calc(50% - 3px);
        right: calc(1rem + 3px);
        border-radius: 50%;
        background: var(--color-blur-light);
        z-index: 1;
        filter: blur(4px);
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        fill: var(--color-font);
        height: 0.9rem;
        width: auto;
        will-change: transform;
        transition: transform 0.3s;

        &.active {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

}

@media (max-width: 1000px) {
    .search {
        flex-grow: 1;
        margin-right: 5%;

        &__select {
            font-size: 1.35rem;
        }
    }
}


@media (max-width: 370px) {
    .search {
        &__select {
            padding-left: 2rem;
        }
    }
}