.search {
    position: relative;
    background: var(--color-bg);
    border-radius: 2.1rem;
    height: 4.35rem;
    width: 38.28rem;

    &.active{
        border-radius: 2.1rem 2.1rem 0 0;

        &::after{
            border-radius: 2.1rem 2.1rem 0 0;
        }

        &::before{
            border-radius: 2.1rem 2.1rem 0 0;
        }
    }

    &__select {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border-radius: 2.1rem;
        height: 100%;
        width: 100%;
        padding: 0 5rem;
        outline: none;
        appearance: none;
        border: none;
        color: var(--color-font);
        z-index: 10;
        cursor: pointer;
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
    }

    &::after {
        border-radius: 2.1rem;
    }


    &::before {
        border-radius: 2.1rem;
    }

    &__icon {
        position: absolute;
        fill: var(--color-font);
        width: 1.3rem;
        height: auto;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 2rem;
        display: none;
        z-index: 10;
        background: none;
        transform: translateY(-50%);

        &.active{
            display: block;
        }
    }

    &__close-icon {
        fill: var(--color-font);
        width: 1rem;
        height: auto;
        top: 50%;
    }

    &__list{
        display: none;
        background: var(--color-bg);
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: calc(15 * 30px);
        overflow: auto;
        z-index: 10;
        font-size: 16px;
        border-radius: 0 0 2.1rem 2.1rem;

        &.active {
            display: block;
        }
    }

    &__list-wrapper{
        position: absolute;
        left: 0;
        top: 4.2rem;
        width: 100%;
        z-index: 10;

        &.btn-shadow::before{
            bottom: -2px;
            border-radius: 0 0 2.1rem 2.1rem;
        }

        &.btn-shadow::after{
            bottom: -2px;
            border-radius: 0 0 2.1rem 2.1rem;
        }
    }

    &__list-el{
        padding: 7px 0 7px 2.85rem;
        cursor: pointer;

        &.active {
            background: var(--color-font);
            color: var(--color-bg);
        }
    }

}

@media (max-width: 1000px) {
    .search {
        width: 100%;

        &__list{
            max-height: calc(7 * 30px);
        }
    }
}


@media (max-width: 600px) {
    .search {
        &__select {
            padding: 0 4rem;
        }

        &__icon {
            left: 1.5rem;
        }
    
        &__close {
            right: 1.5rem;
        }

        &__list-el{
            padding: 7px 0.6rem 7px 1.6rem;
        }

        &__close {
            top: 50%;
            right: 1rem;
            height: 80%;
            padding: 0 1rem;
        }
    }
}

@media (max-width: 375px) {
    .search {
        &__select {
            padding: 0 3.2rem 0 3rem;
        }

        &__icon {
            left: 1rem;
        }

        &__close {
            right: 0.3rem;
        }

    }
}