.search {
    position: relative;
    background: var(--color-bg);
    border-radius: 2.1rem;
    height: 4.35rem;
    width: 38.28rem;
    margin-right: 3.65rem;

    &.active{
        border-radius: 2.1rem 2.1rem 0 0;

        &::after{
            border-radius: 2.1rem 2.1rem 0 0;
        }

        &::before{
            border-radius: 2.1rem 2.1rem 0 0;
        }

        & .search__btn-1 {
            z-index: 10;

            & .search__icon--magnifier{
                display: none;
            }

            & .search__icon--close{
                display: block;
            }
        }
    }

    &__select {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border-radius: 2.1rem;
        height: 100%;
        width: 100%;
        padding: 0 4.5rem 0 2.85rem;
        outline: none;
        appearance: none;
        border: none;
        color: var(--color-font);
        z-index: 10;
        cursor: pointer;
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
    }

    &::after {
        border-radius: 2.1rem;
    }


    &::before {
        border-radius: 2.1rem;
    }


    @mixin btn {
        position: absolute;
        height: 3rem;
        width: 3rem;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &__btn-1 {
        @include btn();
        top: 50%;
        right: 1rem;
        background: var(--color-bg);
        z-index: 3;
    }

    &__btn-2 {
        @include btn();
        top: calc(50% + 3px);
        right: calc(1rem - 3px);
        background: var(--color-blur-dark);
        z-index: 2;
        filter: blur(4px);
    }

    &__btn-3 {
        @include btn();
        top: calc(50% - 3px);
        right: calc(1rem + 3px);
        border-radius: 50%;
        background: var(--color-blur-light);
        z-index: 1;
        filter: blur(4px);
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: var(--color-font);

        &--magnifier{
            display: block;
            height: 1.3rem;
            width: auto;
        }
    
        &--close{
            display: none;
            height: 1rem;
            width: 1rem;
        }
    }

    &__list{
        display: none;
        background: var(--color-bg);
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: calc(15 * 30px);
        overflow: auto;
        z-index: 10;
        font-size: 16px;
        border-radius: 0 0 2.1rem 2.1rem;

        &.active {
            display: block;
        }
    }

    &__list-wrapper{
        position: absolute;
        left: 0;
        top: 4.2rem;
        width: 100%;
        z-index: 10;

        &.btn-shadow::before{
            bottom: -2px;
            border-radius: 0 0 2.1rem 2.1rem;
        }

        &.btn-shadow::after{
            bottom: -2px;
            border-radius: 0 0 2.1rem 2.1rem;
        }
    }

    &__list-el{
        padding: 7px 0 7px 2.85rem;
        cursor: pointer;

        &.active {
            background: var(--color-font);
            color: var(--color-bg);
        }
    }

}

@media (max-width: 1000px) {
    .search {
        flex-grow: 1;
        margin-right: 5%;

        &__list{
            max-height: calc(7 * 30px);
        }
    }
}


@media (max-width: 600px) {
    .search {
        width: 100%;
        margin-right: 0;

        &__select {
            padding-left: 1.6rem;
        }

        &__list-el{
            padding: 7px 0.6rem 7px 1.6rem;
        }
    }
}