.theme-switch {
    position: relative;
    margin: 2.53rem 14.7% 0 0;
    align-self: flex-end;
    background: transparent;


    &.active {
        .theme-switch__trigger {
            transform: translateY(-50%) translate(2rem);
        }

        .theme-switch__icon--dark {
            display: block;
        }

        .theme-switch__icon--light {
            display: none;
        }
    }


    &__icon {
        &--dark {
            display: none;
            width: 1.2rem;
            height: 1.2rem;
        }

        &--light {
            display: block;
            width: 1.575rem;
            height: 1.575rem;
        }
    }


    &__slider {
        width: 4rem;
        height: 1.3rem;
        background-color: var(--color-font);
        will-change: background-color;
        transition: background-color 0.4s;
        border-radius: 2.95rem;
    }

    &__trigger {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: -2%;
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background: var(--color-bg);
        transform: translateY(-50%);
        will-change: transform;
        transition: transform 0.4s;


        &--bg-1 {
            top: calc(50% + 3px);
            left: calc(-2% + 3px);
            background: var(--color-blur-dark);
            filter: blur(4px);
            z-index: -1;
        }

        &--bg-2 {
            top: calc(50% - 3px);
            left: calc(-2% - 3px);
            background: var(--color-blur-light);
            filter: blur(4px);
            z-index: -1;
        }
    }
}

@media (max-width: 1000px) {
    .theme-switch {
        margin: 3rem 5% 0 0;
    }
}

@media (max-width: 600px) {
    .theme-switch {
        position: absolute;
        margin: 0;
        right: calc(70px + 5%);
        top: 3.5rem;
    }
}