:root { --color-good: #68E0B7; --color-bad: #F9807D; --color-neutral: #27CBDE; --font-family: gill-sans-nova, sans-serif; }

.theme-light { --color-bg: #F5F9FF; --color-blur-light: #FFFFFF; --color-font: #576A8A; --color-blur-dark: #D6E0F0; --color-deep: transparent linear-gradient(180deg, #D6E0F0 0%, #D6E0F0 1%, #FFFFFF 100%) 0% 0% no-repeat padding-box; }

.theme-dark { --color-bg: #2B2F35; --color-blur-light: #3B3E42; --color-font: #F5F9FF; --color-blur-dark: #181C22; --color-deep: transparent linear-gradient(360deg, #21262e 0%, #10131858 53%, #202020 100%) 0% 0% no-repeat padding-box; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-family: var(--font-family); font-size: 16px; color: var(--color-font); }

body { margin: 0; padding: 0; position: relative; overflow-x: hidden; background: var(--color-bg); }

main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.font-good { color: var(--color-good); }

.font-neutral { color: var(--color-neutral); }

.font-bad { color: var(--color-bad); }

.bg-good { background: var(--color-good); }

.bg-neutral { background: var(--color-neutral); }

.bg-bad { background: var(--color-bad); }

@media (max-width: 1600px) { html { font-size: 14px; } }

@media (max-width: 1200px) { html { font-size: 12px; } }

h1, h2, h3, h4, h5, h6 { line-height: 1.2; font-weight: inherit; }

h1, h2, h3, h4, h5, h6, p { margin: 0 0; }

h1 { font-size: 2.4rem; }

h2 { font-size: 1.6rem; }

h3 { font-size: 1.2rem; }

h4 { font-size: 1rem; }

h5 { font-size: .9rem; }

h6 { font-size: .8rem; }

p { font-size: 1.2rem; line-height: 1.6; font-weight: 300; }

select { font-size: 1.2rem; }

cite { font-style: normal; }

figcaption { font-size: inherit; line-height: 1.6; }

figure { margin: 0; }

fieldset { border: none; padding: 0; margin: 0; }

input { border: 1px solid transparent; padding: 0; margin: 0; background: transparent; }

a { display: inline-block; color: inherit; font-size: inherit; text-decoration: none; cursor: pointer; }

button { color: inherit; cursor: pointer; padding: 0; background-color: transparent; border: 1px solid transparent; }

@media (max-width: 800px) { h1 { font-size: 2rem; }
  h2 { font-size: 1.4rem; }
  figcaption { font-size: .9rem; }
  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br, p br { display: none; } }

@media (max-width: 600px) { figcaption br { display: none; } }

.box { position: relative; background: var(--color-bg); border-radius: 2.45rem; }

.box--left { padding: 3.5rem 4.3rem; text-align: center; margin-right: 3.65rem; }

.box--right { padding: 3.5rem 4.3rem; }

.box::after { content: ''; position: absolute; width: 100%; height: 100%; border-radius: 2.45rem; -webkit-filter: blur(4px); filter: blur(4px); z-index: -1; right: -6px; bottom: -6px; background: var(--color-blur-dark); }

.box::before { content: ''; position: absolute; width: 100%; height: 100%; border-radius: 2.45rem; -webkit-filter: blur(4px); filter: blur(4px); z-index: -1; right: 6px; bottom: 6px; background: var(--color-blur-light); }

.center { text-align: center; }

.quality { display: block; font-size: 2.7rem; font-weight: 600; }

.date { display: block; font-weight: 400; }

@media (max-width: 1000px) { .box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 4rem 10%; }
  .box--left { margin: 0 0 3.5rem 0; } }

@media (max-width: 600px) { .box { padding: 3rem 10%; }
  .box--left { margin: 0 0 3rem 0; } }

.data { margin: 5rem 0; }

.data__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-animation: show 1s; animation: show 1s; }

@-webkit-keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }

@media (max-width: 1000px) { .data { padding: 0 5%; margin: 3.5rem 0; }
  .data__wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media (max-width: 600px) { .data { margin: 3rem 0 2rem 0; } }

.image { margin: 1rem 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; width: 22rem; height: 18rem; }

.image__bg { width: 100%; height: auto; z-index: 1; }

.image__cloud { position: absolute; width: auto; height: 13rem; top: 55%; left: 50%; z-index: 3; -webkit-animation: cloud infinite 3.5s linear; animation: cloud infinite 3.5s linear; }

.image__addition { position: absolute; top: 10%; left: 35%; width: 2.75rem; z-index: 2; -webkit-animation: addition infinite 2.5s linear; animation: addition infinite 2.5s linear; }

@-webkit-keyframes cloud { 0% { -webkit-transform: translate(-50%, -46%); transform: translate(-50%, -46%); }
  50% { -webkit-transform: translate(-50%, -54%); transform: translate(-50%, -54%); }
  100% { -webkit-transform: translate(-50%, -46%); transform: translate(-50%, -46%); } }

@keyframes cloud { 0% { -webkit-transform: translate(-50%, -46%); transform: translate(-50%, -46%); }
  50% { -webkit-transform: translate(-50%, -54%); transform: translate(-50%, -54%); }
  100% { -webkit-transform: translate(-50%, -46%); transform: translate(-50%, -46%); } }

@-webkit-keyframes addition { 0% { -webkit-transform: translate(-45%, -50%); transform: translate(-45%, -50%); }
  50% { -webkit-transform: translate(-55%, -50%); transform: translate(-55%, -50%); }
  100% { -webkit-transform: translate(-45%, -50%); transform: translate(-45%, -50%); } }

@keyframes addition { 0% { -webkit-transform: translate(-45%, -50%); transform: translate(-45%, -50%); }
  50% { -webkit-transform: translate(-55%, -50%); transform: translate(-55%, -50%); }
  100% { -webkit-transform: translate(-45%, -50%); transform: translate(-45%, -50%); } }

.loader { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 5rem; }

.loader__cloud-1 { width: 8rem; height: auto; -webkit-animation: cloud-1 2s infinite both; animation: cloud-1 2s infinite both; }

.loader__cloud-2 { left: 10rem; width: 5.5rem; height: auto; -webkit-animation: cloud-2 1.5s infinite both; animation: cloud-2 1.5s infinite both; }

@-webkit-keyframes cloud-1 { 0% { -webkit-transform: translate(20%); transform: translate(20%); }
  50% { -webkit-transform: translate(5%); transform: translate(5%); }
  100% { -webkit-transform: translate(20%); transform: translate(20%); } }

@keyframes cloud-1 { 0% { -webkit-transform: translate(20%); transform: translate(20%); }
  50% { -webkit-transform: translate(5%); transform: translate(5%); }
  100% { -webkit-transform: translate(20%); transform: translate(20%); } }

@-webkit-keyframes cloud-2 { 0% { -webkit-transform: translate(-20%); transform: translate(-20%); }
  50% { -webkit-transform: translate(-40%); transform: translate(-40%); }
  100% { -webkit-transform: translate(-20%); transform: translate(-20%); } }

@keyframes cloud-2 { 0% { -webkit-transform: translate(-20%); transform: translate(-20%); }
  50% { -webkit-transform: translate(-40%); transform: translate(-40%); }
  100% { -webkit-transform: translate(-20%); transform: translate(-20%); } }

.search { position: relative; margin: 3rem auto 0 auto; background: var(--color-bg); border-radius: 3.8rem; height: 4.35rem; width: 38.28rem; }

.search__select { position: absolute; top: 0; left: 0; background: transparent; border-radius: 3.8rem; height: 100%; width: 100%; padding: 0 4.5rem 0 2.85rem; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; color: var(--color-font); z-index: 10; cursor: pointer; font-family: var(--font-family); font-weight: 300; }

.search__select option { background: var(--color-bg); line-height: 1.3rem; outline: var(--color-bg); }

.search::after { content: ''; position: absolute; width: 100%; height: 100%; border-radius: 3.8rem; -webkit-filter: blur(4px); filter: blur(4px); z-index: -1; right: -3px; bottom: -3px; background: var(--color-blur-dark); }

.search::before { content: ''; position: absolute; width: 100%; height: 100%; border-radius: 3.8rem; -webkit-filter: blur(4px); filter: blur(4px); z-index: -1; right: 3px; bottom: 3px; background: var(--color-blur-light); }

.search__btn-1 { position: absolute; height: 3rem; width: 3rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); border-radius: 50%; top: 50%; right: 1rem; background: var(--color-bg); z-index: 3; }

.search__btn-2 { position: absolute; height: 3rem; width: 3rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); border-radius: 50%; top: calc(50% + 3px); right: calc(1rem - 3px); background: var(--color-blur-dark); z-index: 2; -webkit-filter: blur(4px); filter: blur(4px); }

.search__btn-3 { position: absolute; height: 3rem; width: 3rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); border-radius: 50%; top: calc(50% - 3px); right: calc(1rem + 3px); border-radius: 50%; background: var(--color-blur-light); z-index: 1; -webkit-filter: blur(4px); filter: blur(4px); }

.search__icon { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%) rotate(-90deg); transform: translate(-50%, -50%) rotate(-90deg); fill: var(--color-font); height: 0.9rem; width: auto; will-change: transform; -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.search__icon.active { -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }

@media (max-width: 1000px) { .search { margin: 3.5rem auto 0 auto; width: 90%; } }

@media (max-width: 370px) { .search__select { padding-left: 2rem; } }

.sensor:not(:first-child) { margin-top: 2rem; }

.sensor::first-letter { text-transform: uppercase !important; }

.sensor__label { margin-right: 1.1rem; }

.sensor__row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sensor__bar { position: relative; width: 22.75rem; height: 1.35rem; background: var(--color-deep); border-radius: 2.95rem; margin-top: 0.5rem; margin-right: 1.5rem; overflow: hidden; }

.sensor__indicator { position: absolute; left: 0; top: 0; height: 100%; max-width: 100%; -webkit-animation: bar 0.7s 0.5s both; animation: bar 0.7s 0.5s both; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }

.sensor__percent { padding: 0.6rem 0.8rem; border-radius: 1.5rem; min-width: 3.5rem; text-align: center; color: var(--color-bg); font-size: 1.2rem; }

@-webkit-keyframes bar { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bar { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@media (max-width: 1000px) { .sensor { width: 100%; }
  .sensor__bar { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }

.theme-switch { position: relative; margin: 3.53rem 14.7% 0 0; -ms-flex-item-align: end; align-self: flex-end; width: 4rem; height: 1.5rem; cursor: pointer; }

.theme-switch.active .theme-switch__trigger { -webkit-transform: translateY(-50%) translate(2rem); transform: translateY(-50%) translate(2rem); }

.theme-switch.active .theme-switch__icon--dark { display: block; }

.theme-switch.active .theme-switch__icon--light { display: none; }

.theme-switch__icon--dark { display: none; width: 1.125rem; height: 1.125rem; }

.theme-switch__icon--light { display: block; width: 1.575rem; height: 1.575rem; }

.theme-switch__slider { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: var(--color-font); will-change: background-color; -webkit-transition: background-color 0.4s; transition: background-color 0.4s; border-radius: 2.95rem; }

.theme-switch__trigger { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; top: 50%; left: -2%; border-radius: 50%; height: 2.25rem; width: 2.25rem; background: var(--color-bg); -webkit-transform: translateY(-50%); transform: translateY(-50%); will-change: transform; -webkit-transition: -webkit-transform 0.4s; transition: -webkit-transform 0.4s; transition: transform 0.4s; transition: transform 0.4s, -webkit-transform 0.4s; }

.theme-switch__trigger--bg-1 { top: calc(50% + 3px); left: calc(-2% + 3px); background: var(--color-blur-dark); -webkit-filter: blur(4px); filter: blur(4px); z-index: -1; }

.theme-switch__trigger--bg-2 { top: calc(50% - 3px); left: calc(-2% - 3px); background: var(--color-blur-light); -webkit-filter: blur(4px); filter: blur(4px); z-index: -1; }

@media (max-width: 1000px) { .theme-switch { margin: 3rem 5% 0 0; } }

@media (max-width: 600px) { .theme-switch { margin: 2rem 5% 0 0; } }
