* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: $base-font-size;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;

  &.block{
    overflow: hidden;
    max-height: 100vh;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--color-font);
  z-index: 0;
  min-width: 100vw;
  min-height: 100vh;
}


@media (max-width: 1600px) {
  html {
    font-size: $hd-font-size;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: $mobile-font-size;
  }
}