* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: $base-font-size;
  color: var(--color-font);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background: var(--color-bg);
}

main {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1600px) {
  html {
    font-size: $hd-font-size;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: $mobile-font-size;
  }
}