$base-font-size: 16px !default;
$hd-font-size: 14px;
$mobile-font-size: 12px;

$base-line-height: 1.6 !default;
$base-margin: 0 !default;


:root {
    --color-good: #68E0B7;
    --color-bad: #F9807D;
    --color-neutral: #27CBDE;
    --font-family: gill-sans-nova, sans-serif;
}

.theme-light {
    --color-bg: #F5F9FF;
    --color-popup: rgba(245, 249, 255, 0.8);
    --color-blur-light: #FFFFFF;
    --color-font: #576A8A;
    --color-blur-dark: #D6E0F0;
    --color-deep: transparent linear-gradient(180deg, #D6E0F0 0%, #D6E0F0 1%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.theme-dark {
    --color-bg: #2B2F35;
    --color-popup: rgba(43, 47, 53, 0.8);
    --color-blur-light: #3B3E42;
    --color-font: #F5F9FF;
    --color-blur-dark: #181C22;
    --color-deep: transparent linear-gradient(360deg, #21262e 0%, #10131858 53%, #202020 100%) 0% 0% no-repeat padding-box;
}


.font-good {
    color: var(--color-good);
}

.font-neutral {
    color: var(--color-neutral);
}

.font-bad {
    color: var(--color-bad);
}

.bg-good {
    background: var(--color-good);
}

.bg-neutral {
    background: var(--color-neutral);
}

.bg-bad {
    background: var(--color-bad);
}

.btn-shadow {
    position: relative;

    @mixin shadow-btn {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(4px);
        z-index: -1;
    }

    &::after {
        @include shadow-btn();
        right: -3px;
        bottom: -3px;
        background: var(--color-blur-dark);
    }

    &::before {
        @include shadow-btn();
        right: 3px;
        bottom: 3px;
        background: var(--color-blur-light);
    }
}

.box-shadow {
    background: var(--color-bg);
    border-radius: 2.45rem;

    @mixin shadow {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2.45rem;
        filter: blur(4px);
        z-index: -1;
    }

    &::after {
        @include shadow();
        right: -6px;
        bottom: -6px;
        background: var(--color-blur-dark);
    }


    &::before {
        @include shadow();
        right: 6px;
        bottom: 6px;
        background: var(--color-blur-light);
    }
}

.btn-animation {
    &::after {
        will-change: transform;
        transition: transform 0.1s;
        border-radius: 50%;
    }

    &::before {
        will-change: transform;
        transition: transform 0.1s;
        border-radius: 50%;
    }

    &:hover {
        &::after {
            transform: translate(-3px, -3px);
        }

        &::before {
            transform: translate(3px, 3px);
        }
    }
}

.bold {
    font-weight: 500;
}

.link {
    &:hover {
        text-decoration: underline;
    }
}