/* Please don't touch this, use rem's for specific items. It's rwd thing */
$base-font-size: 20px !default;
$hd-font-size: 18px;
$mobile-font-size: 16px;

/* Font settings */
$base-line-height: 1.6 !default;
$base-margin: 0 !default;


:root {

    /* Colors: */
    --color-bg: #F5F9FF;
    --unnamed-color-c7d5eb: #C7D5EB;
    --color-blur-light: #FFFFFF;
    --color-font: #576A8A;
    --color-blur-dark: #D6E0F0;
    --color-good: #68E0B7;
    --color-bad: #F9807D;
    --color-neutral: #27CBDE;
    --color-deep: transparent linear-gradient(180deg, #D6E0F0 0%, #D6E0F0 1%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    --unnamed-color-2b2f35: #2B2F35;
    --unnamed-color-3b3e42: #3B3E42;
    --unnamed-color-181c22: #181C22;
    --unnamed-color-e8f1ff: #E8F1FF;
    --unnamed-color-22262c: #22262C;

    /* Font/text values */
    --font-family: gill-sans-nova, sans-serif;
}